* {
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #040615;
  padding-top: 60px;
}

.navbar {
  padding: 8px 250px 8px 250px;
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 50px 2000px rgba(1, 1, 43, 0.856);
}

.navbar-logo {
  display: block;
  font-size: x-large;
  flex-grow: 1;
}

.navbar-logo a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 400;
}

.navbar-links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.navbar-links a {
  text-decoration: none;
  margin-left: 12px;
  padding-left: 14px;
  font-size: larger;
  color: aliceblue;
  font-size: large;
}

.navbar-links a:hover {
  color: #89c6ff;
}

.menu-btn {
  display: none;
  width: 42px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: aliceblue;
  cursor: pointer;
  text-align: end;
}

@media screen and (max-width: 1440px) {
  .navbar {
    padding: 8px 170px 8px 170px;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 8px 120px 8px 120px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 8px 90px 8px 90px;
  }

  .navbar-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .nav-links.show {
    display: flex;
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    padding: 8px 25px 8px 25px;
  }
}

/*Home.jsx */
.home-heading {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 400px 0 400px;
}

.home-inner {
  margin-top: -13vh;
}

.home-inner h1 {
  display: flex;
  text-align: center;
  font-size: 80px;
  background: linear-gradient(90deg, #ffffff, #89c6ff);
  background-clip: text;
  color: transparent;
  font-weight: 600;
  margin: 0 0 0 0;

}

.home-inner p {
  color: aliceblue;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
}

/* work section*/

.work-section {
  padding: 8px 400px 8px 400px;
}

.work-video {
  width: 100%;
  height: 85vh;
  background-color: aliceblue;
  border-radius: 20px;
  margin-bottom: 60px;
}

.work-title {
  padding: 200px 0 200px 0;
  text-align: center;
}

.work-title h1 {
  display: flex;
  text-align: left;
  font-size: 120px;
  color: aliceblue;
  font-weight: 500;
  line-height: 1.1;
  margin: 0 0 20px 0;
}

.work-title button {
  margin-top: 20px;
  font-size: large;
  padding: 5px 20px 5px 20px;
  background-color: #061423;
  color: aliceblue;
  border-radius: 12.5px;
  border: 2px solid #061423;
}


/*About*/
.about-section {
  padding: 8px 400px 8px 400px;
}

.about-heading {
  display: flex;
  text-align: left;
  font-size: 80px;
  color: aliceblue;
  font-weight: 500;
  line-height: 1.1;
  margin: 0 0 0 0;
}

.about-mbtn button {
  font-size: large;
  padding: 5px 15px 5px 15px;
  background-color: transparent;
  color: aliceblue;
  border-radius: 12.5px;
  border: 1px solid white;
}

.about-work-section {
  padding: 8px 250px 8px 250px;
}

.abw-heading {
  color: aliceblue;
  font-size: 45px;
  font-weight: 400;
}

.grid-container {
  color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.item {
  background-color: #061423;
  border-radius: 25px;
  border: 1px solid #091c31;
  text-align: start;
  padding: 20px 50px 20px 50px;
  transition: box-shadow 0.1s ease;
}

.item:hover {
  box-shadow: 0 0 10px 1px #08192C;
}

.item h3 {
  font-size: 30px;
  font-weight: 600;
}

.item p {
  font-size: 20px;
  font-weight: 300;
}

#tsparticles {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* footer */

.footer {
  padding: 8px 250px 8px 250px;
  border: 1px solid #0b213b;
  box-shadow: 0 0 5px 0.5px aliceblue;
}

.ftr-heading {
  color: aliceblue;
  font-weight: 500;
}

.ftr-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ftr-container-1 h3 {
  color: aliceblue;
  font-size: 35px;
  font-weight: 600;
}

.ftr-container-1 button {
  font-size: large;
  padding: 5px 15px 5px 15px;
  background-color: transparent;
  color: aliceblue;
  border-radius: 12.5px;
  border: 1px solid white;
}

.ftr-container-2 {
  padding-left: 20px;
}

.container-2-heading h3 {
  color: aliceblue;
  font-size: 35px;
  font-weight: 600;
}

.ftr-list {
  list-style: none;
  padding: 0;
}

.ftr-links {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  font-weight: 300;
}

.footer-copyright p {
  text-align: center;
  font-size: 15px;
  color: aliceblue;
}


/*Responsive media queries*/

@media screen and (max-width: 2560px) {
  .home-inner h1 {
    font-size: 120px;
  }

  .home-inner p {
    font-size: 45px;
  }
}

@media screen and (max-width: 1960px) {
  .home-heading {
    padding: 0px 350px 0px 350px;
  }

  .home-inner h1 {
    font-size: 95px;
  }

  .home-inner p {
    font-size: 38px;
  }

  /*work*/
  .work-section {
    padding: 0px 350px 0px 350px;
  }

  .work-title h1 {
    font-size: 95px;
  }
  /*about*/
  .about-section {
    padding: 0px 350px 0px 350px;
  }
  .about-heading{
    font-size: 95px;
  }
}

@media screen and (max-width: 1635px) {
  .home-heading {
    padding: 0px 300px 0px 300px;
  }

  .home-inner h1 {
    font-size: 85px;
  }

  .home-inner p {
    font-size: 33px;
  }
  /* work*/
  .work-section {
    padding: 0px 300px 0px 300px;
  }

  .work-title h1 {
    font-size: 62px;
  }
  /*about*/
  .about-section {
    padding: 0px 300px 0px 300px;
  }
  .about-heading{
    font-size: 62px;
  }
}

@media screen and (max-width: 1430px) {
  .home-heading {
    padding: 0px 220px 0px 220px;
  }

  .home-inner h1 {
    font-size: 60px;
  }

  .home-inner p {
    font-size: 26px;
  }
  /*work*/
  .work-section {
    padding: 0px 220px 0px 220px;
  }

  .work-title h1 {
    font-size: 60px;
  }
  /*about*/
  .about-section {
    padding: 0px 220px 0px 220px;
  }
  .about-heading{
    font-size: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .home-heading {
    padding: 0px 140px 0px 140px;
  }

  .home-inner h1 {
    font-size: 49px;
  }

  .home-inner p {
    font-size: 20px;
  }
  /*work*/
  .work-section {
    padding: 0px 140px 0px 140px;
  }

  .work-title h1 {
    font-size: 49px;
  }
  /*about*/
  .about-section {
    padding: 0px 140px 0px 140px;
  }
  .about-heading{
    font-size: 49px;
  }
}

@media screen and (max-width: 768px) {
  .home-heading {
    padding: 0px 90px 0px 90px;
  }

  .home-inner h1 {
    font-size: 44px;
  }

  .home-inner p {
    font-size: 18px;
  }
  /*work*/
  .work-section {
    padding: 0px 90px 0px 90px;
  }

  .work-title h1 {
    font-size: 44px;
  }
  /*about*/
  .about-section {
    padding: 0px 90px 0px 90px;
  }
  .about-heading{
    font-size: 44px;
  }
}

@media screen and (max-width: 425px) {
  .home-heading {
    padding: 0px 45px 0px 45px;
  }

  .home-inner h1 {
    font-size: 42px;
  }

  .home-inner p {
    font-size: 16px;
  }
  /*work*/
  .work-section {
    padding: 0px 45px 0px 45px;
  }

  .work-title h1 {
    font-size: 40px;
  }
  /*about*/
  .about-section {
    padding: 0px 45px 0px 45px;
  }
  .about-heading{
    font-size: 40px;
  }
}

@media screen and (max-width: 375px) {
  .home-heading {
    padding: 0px 30px 0px 30px;
  }

  .home-inner h1 {
    font-size: 42px;
  }

  .home-inner p {
    font-size: 16px;
  }
  /*work*/
  .work-section {
    padding: 0px 30px 0px 30px;
  }

  .work-title h1 {
    font-size: 38px;
  }
  /*about*/
  .about-section {
    padding: 0px 30px 0px 30px;
  }
  .about-heading{
    font-size: 38px;
  }
}

@media screen and (max-width: 320px) {
  .home-heading {
    padding: 0px 25px 0px 25px;
  }

  .home-inner h1 {
    font-size: 40px;
  }

  .home-inner p {
    font-size: 17px;
  }
  /*work*/
  .work-section {
    padding: 0px 25px 0px 25px;
  }

  .work-title h1 {
    font-size: 35px;
  }
 /*about*/
  .about-section {
    padding: 0px 25px 0px 25px;
  }
  .about-heading{
    font-size: 35px;
  }

}