* {
  /* font-family: 'Koulen', sans-serif; */
  font-family: 'Kanit', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  /* padding: 8px 114px 0px 114px; */
  margin: 0;
  background-color: #040615;
  /* z-index: 1; */
  padding-top: 60px;
}

.navbar {
  padding: 8px 250px 8px 250px;
  display: flex;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 50px 2000px rgba(1, 1, 43, 0.856);
}

.navbar-logo {
  display: block;
  font-size: x-large;
  flex-grow: 1;
}

.navbar-logo a {
  text-decoration: none;
  color: aliceblue;
  /* background-image: linear-gradient(195deg, #DB00B6, #0040FF);
  background-clip: text;
  color: transparent; */
  font-weight: 400;
}

.navbar-links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
}

.navbar-links ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.navbar-links a {
  text-decoration: none;
  margin-left: 12px;
  padding-left: 14px;
  font-size: larger;
  color: aliceblue;
  font-size: large;
}

.navbar-links a:hover {
  color: #89c6ff;
}

.menu-btn {
  display: none;
  width: 42px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: aliceblue;
  cursor: pointer;
  text-align: end;
}

@media screen and (max-width: 600px) {
  .navbar-links {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .nav-links.show {
    display: flex;
  }
}

@media screen and (min-width: 1800px) {
  .navbar-logo {
    font-size: 50px;
  }

  .navbar-links a {
    font-size: 35px;
  }

  .navbar {
    padding: 8px 600px 8px 600px;
  }
}

/* @media screen and (min-width: 800px) {
  .navbar-logo {
    font-size: 50px ;
  }
.navbar-links a{
  font-size: 35px;
}
.navbar {
  padding: 8px 450px 8px 450px;
}
} */






/*Home.jsx */
.home-heading {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 400px 0 400px;
}

.home-inner {
  margin-top: -13vh;
}

.home-inner h1 {
  display: flex;
  text-align: center;
  font-size: 80px;
  background: linear-gradient(90deg, #ffffff, #89c6ff);
  background-clip: text;
  color: transparent;
  font-weight: 600;
  margin: 0 0 0 0;

}

.home-inner p {
  color: aliceblue;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  /* padding: 0px 200px; */
}

/* work section*/

.work-section {
  padding: 8px 250px 8px 250px;
}

.work-video {
  width: 100%;
  height: 85vh;
  background-color: aliceblue;
  border-radius: 20px;

}

.work-title {
  padding: 225px 0 225px 0;
}

.work-title button {
  font-size: large;
  padding: 5px 15px 5px 15px;
  background-color: transparent;
  color: aliceblue;
  border-radius: 12.5px;
  border: 1px solid white;
}

.work-title h1 {
  display: flex;
  text-align: left;
  font-size: 65px;
  /* background: linear-gradient(90deg, #ffffff, #89c6ff);
  background-clip: text; */
  color: aliceblue;
  font-weight: 500;
  line-height: 1.1;
  margin: 0 0 0 0;
}

.about-section {
  padding: 8px 250px 8px 250px;
}

.about-hdg {
  display: flex;
  text-align: left;
  font-size: 65px;
  /* background: linear-gradient(90deg, #ffffff, #89c6ff);
  background-clip: text; */
  color: aliceblue;
  font-weight: 500;
  line-height: 1.1;
  margin: 0 0 0 0;
}

.about-mbtn button {
  font-size: large;
  padding: 5px 15px 5px 15px;
  background-color: transparent;
  color: aliceblue;
  border-radius: 12.5px;
  border: 1px solid white;
}

.about-work-section {
  padding: 8px 250px 8px 250px;
}

.abw-heading {
  color: aliceblue;
  font-size: 45px;
  font-weight: 400;
}

.grid-container {
  color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.item{
  background-color: #061423;
  border-radius: 25px;
  border: 1px solid #091c31;
  text-align: start;
  padding: 20px 50px 20px 50px;
  transition: box-shadow 0.1s ease;
}
.item:hover{
  box-shadow: 0 0 10px 1px  #08192C;
}
.item h3{
  font-size: 30px;
  font-weight: 600;
}
.item p{
  font-size: 20px;
  font-weight: 300;
}

#tsparticles {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

/* footer */

.footer {
  padding: 8px 250px 8px 250px;
  border: 1px solid #0b213b;
  box-shadow: 0 0 5px 0.5px aliceblue;
}

.ftr-heading {
  color: aliceblue;
  font-weight: 500;
}

.ftr-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ftr-container-1 h3{
  color: aliceblue;
  font-size: 35px;
  font-weight: 600;
}

.ftr-container-1 button{
  font-size: large;
  padding: 5px 15px 5px 15px;
  background-color: transparent;
  color: aliceblue;
  border-radius: 12.5px;
  border: 1px solid white;
}
.ftr-container-2 {
  padding-left: 20px;
}
.container-2-heading h3{
  color: aliceblue;
  font-size: 35px;
  font-weight: 600;
}
.ftr-list {
  list-style: none;
  padding: 0;
}

.ftr-links {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
  font-weight: 300;
}
.footer-copyright p{
  text-align: center;
  font-size: 15px;
  color: aliceblue;
}